.tipo-cu{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 450px;
}

#cuentas-tii{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #872341;
}

#num-cuenta{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    margin-left: 5px;
}

.list-campos{
    display: flex;
    list-style-type: none;
    margin: 75px 0px 20px 0px;
}

#d{
    margin-inline: 50px;
    padding-inline: 20px;
}

#e{
    margin-left: 15px;
}