{% extends "BancoSolvenezApp/base.html" %}


{% load static %}


{% block content %}

    <title>Somos Solvenez</title>
    <link rel="stylesheet" href="{% static 'BancoSolvenezApp/css/sobre_nosotros.css' %}">

    <section class="Noticia_1">

        <div class="monn1">
            <p class="title_s">SOBRE <br> NOSOTROS</p>
        </div>

        <div class="monn1">
            <p class="sub_s">“En Banco Solvenez, nos <br>
                enorgullecemos de ser una <br>
                institución financiera <br>
                comprometida con la <br> 
                excelencia, la innovación y el <br>
                servicio al cliente”
                <br>
                <br>
                -Frank Pérez
            </p>
        </div>

    </section>


    <section class="img_1">
        <img src="{% static 'BancoSolvenezApp/img/one.jpg' %}" alt="" width="100%">
    </section>



    <section class="Noticia_2">


        <div class="monn2">
            <p class="ssub_s">Convertirnos en el banco líder <br>
                en ofrecer soluciones <br>
                financieras innovadoras y <br>
                accesibles para nuestros <br>
                clientes, contribuyendo al <br>
                crecimiento económico y al <br>
                bienestar de la comunidad.
            </p>
        </div>

        <div class="monn2">
            <p class="ttitle_s">VISIÓN</p>
        </div>

    </section>


    <section class="img_2">
        <img src="{% static 'BancoSolvenezApp/img/two.jpg' %}" alt="" width="100%">
    </section>



    <section class="Noticia_3">

        <div class="monn3">
            <p class="tttitle_s">MISIÓN</p>
        </div>

        <div class="monn3">
            <p class="sssub_s">Proporcionar servicios <br>
                financieros de calidad, <br>
                promoviendo la inclusión y la <br>
                educación financiera, y <br>
                generando valor sostenible <br>
                para nuestros accionistas, <br>
                empleados y la sociedad en <br>
                general.
            </p>
        </div>

    </section>


    <section class="img_3">
        <img src="{% static 'BancoSolvenezApp/img/three.jpg' %}" alt="mision" width="100%">
    </section>


    <section class="ubicacion">

        <div class="img-ubi">
            <img src="{% static 'BancoSolvenezApp/img/Ubicacion.jpg' %}" alt="Ubi">
        </div>

        <div class="img-text">
            <p class="titu">
                UBÍCANOS <br>
            </p>

            <p class="descri-ubi">
                Av. Universidad, esquina<br>
                Sociedad, Edificio Banco Solvenez <br>
                Venezuela, Craracas, Distrito Capital <br>
            </p>

            <p class="sub-titu">
                LÍNEA SOLVENEZ<br>
            </p>

            <p class="descri-ubi">
                0500 8888157<br>
            </p>
        </div>

    </section>







{% endblock %}
